body {
  background-color: rgb(114, 136, 159);
}

h2{
    margin: 0px;
}

/* PERFIL */
.foto_perfil {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 1000px;
}

.foto_perfil img {
  position: relative;
  left: -35%;
  height: 100%;
}

.container h2{
    /* text-decoration-line: underline; */
}
 .line{
     height: 2px;
     background-color: rgb(255, 255, 255);
 }