personal_projects
HTML/.vscode
/borrador/curso_java/pildoras_informaticas_java_NetBeans/Aplicaciones/nbproject/private/
/borrador/curso_java/pildoras_informaticas_java_NetBeans/Aplicaciones/build/
/borrador/curso_java/pildoras_informaticas_java_NetBeans/Aplicaciones/dist/
/JAVA/Fundamentos.java/nbproject/private/
/JAVA/Cafeteria/nbproject/private/
/JAVA/Cafeteria/build/
/JAVA/Cafeteria/dist/
/JAVA/Servlets/nbproject/private/
/JAVA/Servlets/build/
/JAVA/Servlets/dist/